<style>
    @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
    *{
        font-family: "Jost", sans-serif;
        margin: 0;
        border: 0;
        /* outline: 1px solid black; */
    }
    nav{
        padding: 12px 70px;
        background: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo{
        font-size: 2rem;
        font-weight: 500; 
    }
    .tagline{
        font-size: 1.2rem;
    }
    .choose-gift-button{
        background: #fff544;
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    .choose-gift-button img{
        width: 2rem;
    }

    .hero-img-container{
        position: relative;
        width: 100%;
        height: 53vh;
        overflow: hidden;
    }

    .hero-img-container img{
        width: 100vw;
        position: absolute;
        bottom: 0;
    }



</style>

<div>
    <nav>
        <h1 class="logo">TISSO VISON</h1>
        <div class="tagline">Find the ideal gift for your loved ones.</div>
        <button class="choose-gift-button">Choose Gift <img src="{{'arrow.svg' |  asset_url}}"></button>
    </nav>
    <div class="hero-img-container">
        <img src="{{'hero.svg'| asset_url}}">
    </div>
    <div>
    </div>
</div>