<style>



    .hero-img-container{
        position: relative;
        width: 100%;
        height: 53vh;
        overflow: hidden;
    }

    .hero-img-container img{
        width: 100vw;
        position: absolute;
        bottom: 0;
    }



</style>

<div>

    <div class="hero-img-container">
        <img src="{{'hero.svg'| asset_url}}">
    </div>
    <div>
    </div>
</div>