{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div id="hero-container">
  <div class="img-container">
    <img src="{{'hero.svg' |  asset_url}}">
  </div>
  <div class="content-container">
    <div class="left-section">
      <div class="left-section-2">
        <h1>The Gift Guide</h1>
        <div class="brand-description">
        <p>Discover Joy: Your Ultimate Holiday Gift Destination.</p>
        <span>Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</span>
        </div>
        {% render 'custom-button', text: 'shop now', id: 'hero-button' %}
      </div>
    </div>
    <div class="right-section"><img src="{{'hero.svg' |  asset_url}}"></div>
  </div>
  <p id="ribbon">SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL</p>
</div>


{% schema %}
  {
    "name": "Hero",
    "settings": []
  }
{% endschema %}