@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  border: 0;
  /* outline: 1px solid black; */
  -webkit-tap-highlight-color: transparent;
}

.custom-btn{
    position: relative;
    padding: 0.8rem 4rem;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
  }

  .custom-btn--primary { background: #000; }
  .custom-btn--primary > p { color: #fff; }
  .custom-btn--primary > img { filter: brightness(100); }
  .custom-btn--primary::after { background: #fff544; }

  .custom-btn--primary:hover p { color: #000; }
  .custom-btn--primary:hover img { filter: brightness(0); }

  .custom-btn--secondary { background: #fff544; }
  .custom-btn--secondary > p { color: #000; }
  .custom-btn--secondary > img { filter: brightness(0); }
  .custom-btn--secondary::after { background: #000; }

  .custom-btn--secondary:hover p { color: #fff; }
  .custom-btn--secondary:hover img { filter: brightness(100); }

  .custom-btn>p{
    font-size: 1.2rem;
    text-transform: uppercase;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  .custom-btn>img{
    z-index: 1;
    width: 2rem;
    transition-delay: 175ms;
  }
  
  .custom-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .custom-btn:hover::after{
    width: 100%;
  }
