header {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.navbar__cart-icon{
  width: 2rem;
  cursor: pointer;
  padding: 1rem;
}

#nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  display: none;
  height: 0;
  overflow: hidden;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

#menu-toggle{
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  z-index: 4;
}

#menu-icon{
  height: 100%;
  padding: 0 2rem;
  width: 2rem;
  width: 2rem;
}

.nav-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 64px;
  z-index: 3;
}

nav {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.tagline {
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .tagline,
  #nav-button {
    display: none;
  }

  .dropdown {
    display: block;
  }

  .dropdown:hover::after{
    z-index: 0;
  }

  .dropdown:hover img{
    z-index: 400;
  }

  #nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #menu-toggle {
    display: block;
  }

  #menu-icon{
    padding: 0 1rem;
    width: 1.5rem;
  }

  .logo {
    font-size: 1.6rem;
  }

  .nav-container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  nav {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0 1rem;
  }
}
