@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");

/* Styling - Modal for product popup */
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  display: none;
}

.product-modal__dialog {
  position: relative;
  margin: 2rem;
  max-width: 400px;
  background: #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.product-modal__close {
  position: absolute;
  top: 0.6rem;
  right: 0.2rem;
  margin-bottom: 1rem;
  background: transparent;
  cursor: pointer;
}

.product-modal__body {
  display: flex;
  gap: 1rem;
}

.product-modal__image-wrapper {
  width: 50%;
  overflow: hidden;
  border: 1px solid #d3d3d3;
}

.product-modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-modal__details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
}

.product-modal__title {
  font-size: 1.4rem;
  font-weight: 300;
}

.product-modal__price {
  font-family: "Lustria", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.product-modal__description {
  font-size: 1.1rem;
  font-weight: 300;
}

.product-modal__color-picker {
  margin-top: 1rem;
}

.product-modal__label {
  font-size: 1.2rem;
  font-weight: 300;
}

.product-modal__color-options {
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.product-modal__color-indicator {
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 100%;
  background: #000;
  transition: all 0.3s ease-in-out;
}

.product-modal__color-option {
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  padding: 10px 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.product-modal__color-option--1 {
  color: #fff;
}

.product-modal__color-option--2 {
  border-right: 1px solid black;
}

.product-modal__color-option::after {
  content: "";
  height: 100%;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid black;
}

.product-modal__color-option--1{
  background: #000;
}

.product-modal__color-option--2{
  background: #fff;
}

.product-modal__size-picker {
  margin-top: 1rem;
  position: relative;
}

.product-modal__size-options {
  margin-top: 0.5rem;
  display: flex;
}

.product-modal__size-placeholder,
.product-modal__size-toggle {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 10px 20px;
}

.product-modal__size-toggle {
  width: fit-content;
  border-left: 0;
  cursor: pointer;
}

.product-modal__size-toggle-icon {
  transition: all 0.3s ease-in-out;
}

.product-modal__size-dropdown {
  position: absolute;
  display: flex;
  width: calc(100% - 2px);
  flex-direction: column;
  border: 1px solid black;
  border-top: 0;
  background: #fff;
  height: 0;
  max-height: 100px;
  overflow: auto;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.product-modal__size-dropdown::-webkit-scrollbar {
  display: none;
}

.product-modal__size-option {
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.product-modal__size-option:hover {
  background: #000;
  color: #fff;
}

#product-modal__add-to-cart {
  margin-top: 2rem;
  width: inherit;
}

@media only screen and (max-width: 500px) {
  .product-modal__body {
    flex-direction: column;
    width: 100%;
  }

  .product-modal__image-wrapper {
    width: 100%;
    height: 200px;
  }

  .product-modal__image {
    object-position: top;
  }

  .product-modal__details {
    position: relative;
    width: 100%;
    gap: 1rem;
  }

  .product-modal__title {
    max-width: 60%;
  }

  .product-modal__price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
  }

  #product-modal__add-to-cart {
    margin-top: 2rem;
  }

  .product-modal__size-dropdown {
    max-height: 96px;
  }
}

/* Styling - Main grid for showcasing collection of products */
.product-grid {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.product-grid__content {
  margin: auto;
  padding: 4rem 2rem;
}

.product-grid__title {
  font-family: "Lustria", sans-serif;
  font-weight: 400;
}

.product-grid__list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
}

.product-grid__item{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.product-grid__item:hover {
  border: 1px solid #a9a9a9;
}

.product-grid__item:hover .product-grid__image {
  transform: scale(1.02);
}

.product-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .product-grid__content {
    padding: 4rem 1rem;
    padding-bottom: 2rem;
  }

  .product-grid__title {
    text-align: center;
    font-size: 1.5rem;
  }

  .product-grid__list {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
