/* Styling - Navbar */
header {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar__menu-toggle{
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  z-index: 4;
}

.navbar__menu-toggle-icon{
  height: 100%;
  padding: 0 2rem;
  width: 2rem;
  width: 2rem;
}

.navbar__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 64px;
  z-index: 3;
}

.navbar__sub-wrapper {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar__tagline {
  font-size: 1.2rem;
}

.navbar__right-section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row-reverse;
}

.navbar__cart-icon{
  width: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.navbar__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f2f2f2;
  display: none;
  height: 0;
  overflow: hidden;
  z-index: 2;
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 992px) {
  .navbar__wrapper{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .navbar__sub-wrapper {
    justify-content: center;
  }

  .navbar__menu-toggle {
    display: block;
  }

  .navbar__tagline,
  #navbar__button {
    display: none;
  }

  .navbar__menu-toggle-icon {
    padding: 0 1rem;
    width: 1.5rem;
  }
  
  .navbar__logo {
    font-size: 1.6rem;
  }

  .navbar__cart-icon{
    position: absolute;
    width: 1.8rem;
    top: 0;
    right: 0;
  }

  .navbar__dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
