@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal {
  margin: 1rem;
  width: 400px;
  background: #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.exit {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.exit img {
  cursor: pointer;
}

.about {
  display: flex;
  gap: 1rem;
}



.img-wrapper {
  width: 50%;
  overflow: hidden;
  border: 1px solid #d3d3d3;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
}

.about-info .product-title {
  font-size: 1.4rem;
  font-weight: 300;
}

.about-info .product-price {
  font-family: "Lustria", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.product-description {
  font-size: 1.1rem;
  font-weight: 300;
}

.color-selector {
  margin-top: 1rem;
}

.color-selector p,
.size-selector p {
  font-size: 1.2rem;
  font-weight: 300;
}

.color-options {
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  overflow: hidden;
}

.size-selector {
  margin-top: 1rem;
  position: relative;
}

.size-dropdown{
  position: absolute;
  display: flex;
  width: calc(100% - 2px);
  flex-direction: column;
  border: 1px solid black;
  border-top: 0;
  transform: translateY(-1px);
  background: #fff;
  height: 0;
  max-height: 144px;
  overflow: auto;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.size-dropdown::-webkit-scrollbar{
  display: none;
}

.size-option{
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.size-option:hover{
  background: #000;
  color: #fff;
}

.size-options {
  margin-top: 0.5rem;
  display: flex;
}

.choose,
.icon {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 10px 20px;
}

.icon {
  width: fit-content;
  border-left: 0;
  cursor: pointer;
}

.icon img{
  transition: all 0.3s ease-in-out;
}

.color-options .animator {
  position: absolute;
  cursor: pointer;
  width: 50%;
  height: 100%;
  background: #000;
  transition: all 0.3s ease-in-out;
}

.color-options .color {
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  padding: 10px 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.color1 {
  color: #fff;
}

.color:nth-child(3) {
  border-right: 1px solid black;
}

.color::after {
  content: "";
  height: 100%;
  background-color: #000;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.color:nth-child(3)::after {
  background-color: #0D499F;
}

.add-to-cart {
  cursor: pointer;
  margin-top: 4rem;
  padding: 1rem;
  background: #000;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.add-to-cart img {
  filter: brightness(100);
  width: 2rem;
}

.grid-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.grid-sub-container {
  margin: auto;
  padding: 4rem 2rem;
}

.grid-sub-container h1 {
  font-family: "Lustria", sans-serif;
  font-weight: 400;
}

.collection {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 1rem;
}

.collection div {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.collection div:hover {
  border: 1px solid #a9a9a9;
}

.collection div:hover img {
  transform: scale(1.02);
}

.collection div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 992px) {
  .grid-sub-container {
    padding: 4rem 1rem;
    padding-bottom: 2rem;
  }
  .grid-sub-container h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .collection {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media only screen and (max-width: 500px){
  .about{
    flex-direction: column;
    width: 100%;
  }

  .img-wrapper{
    width: 100%;
    height: 200px;
  }

  .img-wrapper img{
    object-position: top;
  }

  .about-info{
    width: 100%;
    gap: 1rem;
  }

  .add-to-cart{
    margin-top: 2rem;
  }
}